@import "../Variables/variables";

.housing-page {
  display: flex;
  flex-direction: column;
  &_header {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &_infos {
      display: flex;
      flex-direction: column;
      &_title {
        color: $primary-color;
        font-weight: 500;
        font-size: 25px;
        margin: 20px 0 5px 0;
      }
      &_location {
        color: $primary-color;
        margin: 0;
        font-weight: 500;
        font-size: 15px;
      }
      &_tags {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;
        padding: 0;
        text-decoration: none;
        list-style: none;
        &_tag {
          background-color: $primary-color;
          padding: 5px 10px;
          font-size: 10px;
          font-weight: 500;
          border-radius: 10px;
        }
      }
    }
    &_host {
      display: flex;
      flex-direction: column;
      align-items: right;
      &_infos {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        align-items: center;
        &_name {
          color: $primary-color;
          font-weight: 500;
          font-size: 15px;
          text-align: right;
        }
        &_img {
          height: 54px;
          width: 54px;
          border-radius: 50%;
          margin-left: 10px;
        }
      }
    }
  }
  &_collapses {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    .collapse {
      width: 47%;
      .collapse-header {
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .housing-page {
    width: 90%;
    &_header {
      flex-direction: column;
      &_ratings {
        width: 30%;
      }
      &_host {
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        &_infos {
          margin: 0;
        }
      }
    }
    &_collapses {
      flex-direction: column;
      .collapse {
        width: 100%;
      }
    }
  }
}