@import '../Variables/variables';

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px 70px;
  .logo-header {
    width: 140px;
  }
  nav {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    .link-nav {
      font-size: 20px;
      color: $primary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    margin: 20px;
    nav {
      width: 180px;
      .link-nav {
        padding: 0.2rem 0 0.2rem 0.5rem;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}
